@font-face {
    font-family: 'SF Mono Regular';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Regular'), url('../assets/sf-mono-webfont/SFMonoRegular.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Regular Italic'), url('../assets/sf-mono-webfont/SFMonoRegularItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Light'), url('../assets/sf-mono-webfont/SFMonoLight.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Light Italic'), url('../assets/sf-mono-webfont/SFMonoLightItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Medium'), url('../assets/sf-mono-webfont/SFMonoMedium.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Medium Italic'), url('../assets/sf-mono-webfont/SFMonoMediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Semibold'), url('../assets/sf-mono-webfont/SFMonoSemibold.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Semibold Italic'), url('../assets/sf-mono-webfont/SFMonoSemiboldItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Bold'), url('../assets/sf-mono-webfont/SFMonoBold.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Bold Italic'), url('../assets/sf-mono-webfont/SFMonoBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Heavy'), url('../assets/sf-mono-webfont/SFMonoHeavy.woff') format('woff');
}

@font-face {
    font-family: 'SF Mono Heavy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Heavy Italic'), url('../assets/sf-mono-webfont/SFMonoHeavyItalic.woff') format('woff');
}

/* ______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________ */

@font-face {
    font-family: 'Alumni Sans SC Variable';
    src: local('Alumni Sans SC Variable'), url('../assets/alumni-sans-sc-webfont/AlumniSansSC-VariableFont_wght.woff');
}

@font-face {
    font-family: 'Alumni Sans SC Variable Italic';
    src: local('Alumni Sans SC Variable Italic'), url('../assets/alumni-sans-sc-webfont/AlumniSansSC-Italic-VariableFont_wght.woff');
}

/* ______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________ */

